
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}
/*nav-bar*/

.nav-bar{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.nav-bar-top {
    height: 100px;
    background-color: #4c4faf;
    padding: 10px;
    border-bottom: solid;
    border-width: 1px;
    border-color: black;
}

.nav-bar-body {
    flex: 1;
    background-color: #e0d3d3;
    padding: 10px;
    height: 100%;
}

.nav-bar h1,p{
    margin: 0;
}

/*nav-panel*/

.nav-panel {
    display: flex;
    justify-content: left;
}

/*search*/

.search{
    width: 50%;
}
    
.search-label{
    display: flex;
}

.search-input{
    flex-grow: 1;
}

.search img, input, button {
    border-radius: 0.5rem;
    height: 2.5rem;
    border-width: 1px;
}

.search input {
    background-image: url(https://localhost:7268/img/icons/search.png);
    background-size: auto 90%;
    background-repeat: no-repeat;
    background-position: right 1px;
    outline: none;
    border: 1px solid #000;
    padding: 5px 40px 5px 5px;
}

/*cart*/

.cart {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-image: url(https://localhost:7268/img/icons/shopping-cart.png);
    margin-left: auto;
}

.cart-count {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    background: #ffef68;
    border: 1px solid #3766ef;
    border-radius: 50%;
    height: 20px;
    width: 20px;
}
.count {
    color: black;
    font-size: 10px;
    font-weight: 600;
}

.cart-price{

}


/*header navigation*/

.header-links{
    padding-top: 5px;
}

    .header-nav-list{
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

        .header-nav-list > li {
            margin-right: 30px;
                       
        }
            .header-nav-list > li > a {
                font-size: 20px;
                font-weight: 600;
                color: #ffef68;
            }


/*card-container*/

.card-border {
    border-width: 2px;
    border-color: black;
    border-style: solid;
}

.card-container {
    width: 200px;
    height: 300px;    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

    .card-container.header {
        height: 20%;
        background-color: aqua;
    }
    .card-container.body {
        height: 60%;
        background-color: aquamarine;
    }
    .card-container.footer {
        height: 20%;
        background-color: blue;
    }

    .card-container p,h3{
        margin: 0;
    }
  
