/*html*/

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

button {
    border-radius: 0.5rem;
    height: 2.5rem;
    border-width: 1px;
}

/*invalid*/

input:invalid {
    color: red;
}

input:invalid:required {

}

/*nav-bar*/

.body-container{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.body-container-nav-bar {
    height: 100px;
    background-color: #4c4faf;
    padding: 10px;
    border-bottom: solid;
    border-width: 1px;
    border-color: black;
}

.body-container-content {
    flex: 1;
    background-color: #e0d3d3;
    padding: 10px;
    height: 100%;
    display: flex;
}

.nav-bar h1,p{
    margin: 0;
}

/*nav-panel*/

.nav-panel {
    display: flex;
    justify-content: left;
}

/*nav-panel search*/

.search{
    width: 50%;
}
    
.search-label{
    display: flex;
}

.search-input {
    flex-grow: 1;
    border-radius: 0.5rem;
    height: 2.5rem;
    border-width: 1px;
}


.search input {
    background-image: url(https://localhost:7268/img/icons/search.png);
    background-size: auto 90%;
    background-repeat: no-repeat;
    background-position: right 1px;
    outline: none;
    border: 1px solid #000;
    padding: 5px 40px 5px 5px;
}

/*nav-panel cart*/

.cart {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-image: url(https://localhost:7268/img/icons/shopping-cart.png);
    margin-left: auto;
}

.cart-count {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    background: #ffef68;
    border: 1px solid #3766ef;
    border-radius: 50%;
    height: 20px;
    width: 20px;
}
.count {
    color: black;
    font-size: 10px;
    font-weight: 600;
}


/*nav-panel header navigation*/

.header-links{
    padding-top: 5px;
}

    .header-nav-list{
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

        .header-nav-list > li {
            margin-right: 30px;
                       
        }
            .header-nav-list > li > a {
                font-size: 20px;
                font-weight: 600;
                color: #ffef68;
            }


/*card-container*/

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-width: 1px;
    border-color: black;
    border-style: solid;

    height: 300px;
}

.card-container-header{
    height: 25%;
    padding: 5px;
}
.card-container-body{
    height: 50%;
    padding: 5px;
}
.card-container-footer{
    height: 25%;
    padding: 5px;
    text-align: center;
}

/*cart main*/

.cart-main {
    display: flex;
    flex-direction: column;
}

.cart-head{
    /*text-align: center;*/
}
.cart-body{
   display: flex;
   flex-direction: column;
}

/*cart-items-table*/

.cart-items-list-table {
    display: flex;
    flex-direction: column;
}

.cart-items-list-table-body {
    display: flex;
    flex-direction: column;
}
.cart-items-list-table-footer{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}
.cart-items-list-item-container{
    display: flex;
    
}

.cart-items-list-table-body > .cart-items-list-item-container > td {
    padding: 30px;
    display: flex;
    justify-items: center;
    align-items: center;
}
.cart-items-list-table-footer > .cart-items-list-item-container > td {
    padding: 10px;
    display: flex;
    justify-items: center;
    align-items: center;
}

.cart-items-list-item-descriptions{
    
}
.cart-items-list-item-price {

}
.cart-items-list-item-amount {
   
}
.cart-items-list-item-totalPrice{
    
}
.cart-items-list-item-remove {
    
}

/*cart-item-blocks body*/

.cart-item-description-block{
    display: flex;
}
.cart-item-description-block-image{
    padding-right: 10px;
}

.cart-item-description-block-info{
    padding-left: 10px;
}

.cart-item-amount-block {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    background: none;
}
.cart-item-amount-block-buttonMinus{
    display: flex;
    padding: 3px;
}
.cart-item-amount-block-buttonMinus a{
    background-image: url(https://localhost:7268/img/icons/min-btn.png);
    width: 30px;
    height: 30px;
}
.cart-item-amount-block-input {
    padding: 3px;
}
.cart-item-amount-block-input input{
    text-align: center;
    width: 32px;
    border: none;
    background: none;
}
.cart-item-amount-block-buttonPlus {
    display: flex;
    padding: 3px;
}
.cart-item-amount-block-buttonPlus a {
    background-image: url(https://localhost:7268/img/icons/pls-btn.png);
    width: 30px;
    height: 30px;
}

/*cart-item-blocks footer*/

.cart-item-block-totalPrice > p{
    font-weight: 500;
}

/*cart-order-container*/

.cart-create-order-container{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.cart-order-container-label{
    margin-bottom: 20px;
}
.cart-order-container-confirmationPhone{

}


/*container*/

.column-container{
    display: flex;
    flex-direction: column;
}
.line-container{
    display: flex;
}

.container-label{
    margin: 20px;
}
.container-content{
    margin-top: 10px;
    margin-bottom: 10px;
}
.container-dopContent {
    display: flex;
    margin-top: 20px;
}
.container-content-form {
    display: flex;
    flex-direction: column;
}

/*style container-content(form)*/

.container-content button {
    width: 10rem;
    margin-top: 10px;
}

.container-content-form label {
    font-weight: 500;
}
.container-content-form input{
    width: 10rem;
    text-align: center;
}
.container-content-form select {
    margin-bottom: 10px;
    width: 15rem;
}
.container-content-form small{
    color: red;
}