<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" media="screen,projection" href="~/css/StyleSheet.css" />
</head>
<body>
    <div id="header">
        <form method="get" asp-controller="search">
            <input name="query" id="searchInput" style="width: 50%" placeholder="автор или название" />
            <button id="searchInput" type="submit">Искать</button>
        </form>
    </div>   
    <div id="navigation">
        <ul>
            <li><a asp-controller="Home" asp-action="Index">Home</a></li>           
        </ul>

    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
