@model ExampleModel
@{
    ViewData["Title"] = "Заказ оплачен";
}

<h1>Заказ оплачен</h1>
<p>
    @*<a href="@Url.Action("Finish", "Order")">Вернуться в магазин</a>*@
</p>
<form action="@Model.ReturnUri" method="post">
    <input type="hidden" name="serviceName" value="YandexKassa" />
    <input type="hidden" name="step" value="1" />
    <input type="hidden" name="parameters[orderId]" value="@Model.OrderId" />
    <input type="hidden" name="parameters[IsCompletedPaymentOrder]" value="@Model.IsCompletedPaymentOrder" />
    <button type="submit">Далее</button>
</form>