@model IReadOnlyDictionary<string,string>

@{
    ViewData["Title"] = "Способ доставки";
}
<div class="column-container">
    <div class="container-label">
        <h3>Выберите cпособ доставки</h3>
    </div>
    <div class="container-content">
        <form action="@Url.Action(nameof(OrderController.StartDelivery))" method="post">
            <div class="container-content-form">
                <label for="serviceName">Способ доставки</label>
                <select name="serviceName">
                    @foreach (var methodDelivery in Model)
                    {
                        <option value="@methodDelivery.Key">@methodDelivery.Value</option>
                    }
                </select>                
            </div>     
            <button type="submit">Далее</button>
        </form>
    </div>
</div>

