@model IReadOnlyDictionary<string,string>

@{
    ViewData["Title"] = "Способ доставки";
}

<h1>Способ доставки</h1>
<form action="@Url.Action(nameof(OrderController.StartDelivery))" method="post">
    <div>
        <label for="serviceName">Способ доставки</label>
        <select name="serviceName">
            @foreach(var methodDelivery in Model)
            {
                <option value="@methodDelivery.Key">@methodDelivery.Value</option>
            }
        </select>
    </div>
    <button type="submit">Далее</button>
</form>