@model DeliveryModel

@{
    ViewData["Title"] = "Способ доставки";
}

<h1>Способ доставки</h1>
<form action="@Url.Action(nameof(OrderController.StartDelivery))" method="post">
    <input type="hidden" name="orderId" value="@Model.OrderId"/>
    <div>
        <label for="uniqueCode">Способ доставки</label>
        <select name="uniqueCode">
            @foreach(var methodDelivery in Model.Methods!)
            {
                <option value="@methodDelivery.Key">@methodDelivery.Value</option>
            }
        </select>
    </div>
    <button type="submit">Далее</button>
</form>