
@{
    Layout = "_Layout";
}

<p>
    Ваш заказ успешно оформлен. Ожидайте смс от службы доставки.
</p>
<p>
    <a href="@Url.Action(nameof(HomeController.Index), "Home")">Вернуться в магазин.</a>
</p>