@model OrderModel

<div class="column-container">
    <div class="container-label">
        <h3>Ваш заказ успешно оформлен. Ожидайте смс от службы доставки.</h3>
    </div>
    <div class="container-content">
        <h4>Детали заказа</h4>
        <p>@Model.DeliveryDescription</p>
        <p>@Model.PaymentDescription</p>
    </div>
    <div class="container-dopContent">
        <a type="button" href="@Url.Action(nameof(HomeController.Index), "Home")">Вернуться в магазин.</a>
    </div>
</div>
