@model IReadOnlyCollection<BookModel>

@{
    ViewData["Title"] = "List books";
}


<ul>
    @foreach(var bookModel in Model)
    {
        <li>
            <a asp-action="@nameof(BookController.Index)" asp-controller="Book" asp-route-bookId="@bookModel.BookId">@bookModel.Title</a>
        </li>
    }
</ul>
