@model IEnumerable<Book>

@{
    ViewData["Title"] = "List books";
}


<ul>
    @foreach(var book in Model)
    {
        <li>
            <a asp-action="@nameof(BookController.Index)" asp-controller="Book" asp-route-bookId="@book.BookId">@book.Title</a>
        </li>
    }
</ul>
