@model IEnumerable<Book>

@{
    ViewData["Title"] = "List books";
}


<ul>
    @foreach(var book in Model)
    {
        <li><a href="@Url.Action("Index", "Book", new {bookId = book.BookId})">@book.Title</a></li>       
    }
</ul>
