@model IEnumerable<Book>

@{
    ViewData["Title"] = "List books";
}

<table>
    <thead>
        <tr>
            <td>BookId</td>
            <td>Title</td>
        </tr>
    </thead>
    <tr>
        @foreach(var book in Model)
        {
            <td>@book.BookId</td>
            <td>@book.Title</td>
        }
    </tr>
</table>