<div class="user">
    <a class="user-icon dropbtn" href="@Url.Action(nameof(AccountController.Index), "Account")">
    </a>
    <div class="user-content">       
        <div>
            <a href="@Url.Action(nameof(AuthorizationController.LogIn), "Authorization")">Войти</a>
        </div>
    </div>
</div>